//------------------------------------------------------------------------------
// Banner
//------------------------------------------------------------------------------

.Banner {
	position: relative;
}

.Banner a {
	text-decoration: none;
}

.BannerLink {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.BannerText > * {
	margin: 10px 0 !important;
}

//------------------------------------------------------------------------------
// Body Banners
//------------------------------------------------------------------------------

.Banner-Body {
	@extend %default-margin;
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	display: block;
}

.Banner-Body img {
	width: 100%;
}

//------------------------------------------------------------------------------
// Side Banners
//------------------------------------------------------------------------------

.Banners-Side {
	text-align: center;
}

.Banner-Side {
	@extend %default-margin;
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	display: inline-block;
	position: relative;
}

.Banner-Side .BannerImage {
	background-color: #ffffff;
	display: block;
	text-align: center;
	overflow: hidden;
}

.Banner-Side .BannerContent {
	border-top: 1px solid $color-body-border;
	padding: 10px;
	text-align: center;
}

//------------------------------------------------------------------------------
// Wide Banners
//------------------------------------------------------------------------------

.Banners-Wide {
	border: 1px solid $color-body-border;
	border-radius: 0;
	border-width: 0 0 1px;
	font-size: $font-size-large;
	height: 480px;
	overflow: hidden;
}

.Banner-Wide {
	background-position: 50%;
	background-size: cover;
	height: 480px;
	position: relative;
}

.Banner-Wide:before {
	@include cover;
	content: '';
	display: block;
}

.Banner-Wide .Container {
	position: relative;
}

.Banner-Wide .BannerContentWrap {
	display: table;
	height: 480px;
	width: 100%;
}

.Banner-Wide .BannerContent {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: $breakpoint-tablet) {
	.Banners-Wide,
	.Banner-Wide,
	.Banner-Wide .BannerContentWrap {
		height: 340px;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.Banners-Wide,
	.Banner-Wide,
	.Banner-Wide .BannerContentWrap {
		height: 240px;
	}
}
