//------------------------------------------------------------------------------
// Banner
//------------------------------------------------------------------------------

.BannerContent > * {
	margin: 10px 0 !important;
}

//------------------------------------------------------------------------------
// Body Banners
//------------------------------------------------------------------------------

.Banner-Body {
	@extend %default-margin;
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	display: block;
}

.Banner-Body img {
	width: 100%;
}

//------------------------------------------------------------------------------
// Side Banners
//------------------------------------------------------------------------------

.Banner-Side {
	@extend %default-margin;
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	display: block;
}

.Banner-Side .BannerImage {
	background-color: #ffffff;
	display: block;
	text-align: center;
	overflow: hidden;
}

.Banner-Side .BannerContent {
	border-top: 1px solid $color-body-border;
	padding: 10px;
	text-align: center;
}

//------------------------------------------------------------------------------
// Wide Banners
//------------------------------------------------------------------------------

.Banners-Wide {
	border: 1px solid $color-body-border;
	border-radius: 0;
	border-width: 0 0 1px;
	font-size: $font-size-large;
	height: 640px;
	overflow: hidden;
}

.Banner-Wide {
	background-position: 50%;
	background-size: cover;
	position: relative;
}

.Banner-Wide:hover {
	color: text-contrast($color-banner-bg);
}

.Banner-Wide:before {
	@include cover;
	content: '';
	display: block;
}

.Banner-Wide .Container {
	height: 100%;
	position: relative;
}

.Banner-Wide .BannerContentWrap {
	display: table;
	height: 640px;
	max-width: $breakpoint-mobile;
	width: 100%;
}

.Banner-Wide .BannerContent {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: $breakpoint-tablet) {
	.Banners-Wide,
	.Banner-Wide .BannerContentWrap {
		height: 360px;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.Banners-Wide,
	.Banner-Wide .BannerContentWrap {
		height: 240px;
	}
}
