//------------------------------------------------------------------------------
// Category Filters
//------------------------------------------------------------------------------

.ProductListFilters {
	@include flexbox;
	flex-wrap: wrap;
	margin: -($grid-list-gutter / 4);
	margin-bottom: 20px;
}

@media screen and (max-width: $breakpoint-mobile) {
	.ProductListFilters {
		display: block;
	}
}

//------------------------------------------------------------------------------
// Filter Group
//------------------------------------------------------------------------------

.FilterGroup {
	margin: ($grid-list-gutter / 4);
}

.FilterGroup a {
	text-decoration: none;
}

.FilterGroupName {
	@extend select;
	border-radius: $border-radius;
	background-image: none;
	margin: 0;
	position: relative;

	&:after {
		@include icon($fa-var-angle-down);
		padding: 5px 12px;
		position: absolute;
		right: 0;
	}
}

.FilterGroup:hover .FilterGroupName {
	background-color: $color-boxed-bg;
}

.FilterGroup.Navigable .FilterGroupName {
	background-color: mix($color-body-border, $color-boxed-bg, 25%);

	&:after {
		content: $fa-var-angle-up;
	}
}

.FilterGroup.ActiveGroup .FilterGroupName {
	border-color: $color-text-dark;
}

//------------------------------------------------------------------------------
// Filter Group List
//------------------------------------------------------------------------------

.FilterList {
	background-color: $color-input-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	box-shadow: 0 1px 2px $black-10;
	display: none;
	list-style: none;
	margin: 5px 0 0;
	max-width: 300px;
	min-width: 210px;
	outline: none;
	overflow: auto;
	position: absolute;
	z-index: 1;
}

.Navigable .FilterList {
	display: block;
}

.FilterList li {
	@include flexbox;
	background-color: $color-boxed-bg;
	border-radius: $border-radius;
	justify-content: space-between;
	margin: 5px;
	padding: 3px 10px;
	position: relative;
}

.FilterList li:hover {
	background-color: darken($color-boxed-bg, 2%);
}

.FilterList li.Selected {
	box-shadow: inset 0 0 0 1px $color-accent-2;
}

.FilterList a:before {
	@include cover;
	content: '';
	display: block;
} 

.FilterList a:not(.ApplyFilter) {
	color: $color-accent-2;
	margin-left: 5px;
}

//------------------------------------------------------------------------------
// Filter Tags List
//------------------------------------------------------------------------------

.FilterTags {
	@extend .TagsList;
}

.RemoveFilter {
	@extend .Tag;
}

.FilterTags .RemoveFilter:before {
	content: $fa-var-remove;
}

.ClearAllFilters .RemoveFilter {
	background-color: transparent;
}

.ClearAllFilters .RemoveFilter:before {
	content: $fa-var-trash;
}
