//------------------------------------------------------------------------------
// Footer
//------------------------------------------------------------------------------

.Footer {
	padding: 40px 0;
}

.FooterCopy .Copyright {
	border-top: 1px solid #dadada;
	padding: 20px 0;
}

//------------------------------------------------------------------------------
// Newsletter Subscribe Form
//------------------------------------------------------------------------------

.Footer #NewsletterSubscribeForm label {
	display: none;
}

.Footer #NewsletterSubscribeForm input {
	width: 65%;
}

.Footer #NewsletterSubscribeForm button {
	width: 35%;
}
