//------------------------------------------------------------------------------
// Footer
//------------------------------------------------------------------------------

.FooterSection {
	padding: 40px 0;
}

.FooterCopy .Copyright {
	border-top: 1px solid $color-footer-border;
	padding: 20px 0;
}
