//------------------------------------------------------------------------------
// Brand Header
//------------------------------------------------------------------------------

.BrandHeader {
	padding: 30px 0;
}

.BrandHeader .LogoLink > img {
	max-height: 160px;
	max-width: 320px;
}

.BrandHeader #LiveSearch {
	display: inline-block;
	min-width: 280px;
	vertical-align: middle;
}
