//------------------------------------------------------------------------------
// Brand Header
//------------------------------------------------------------------------------

.BrandHeader {
	padding: 40px 0;
}

.BrandHeader .LogoLink {
	min-width: 240px;
}

.BrandHeader #LiveSearch {
	display: inline-block;
	min-width: 280px;
	vertical-align: middle;
}
