//------------------------------------------------------------------------------
// Magnific Popup
//------------------------------------------------------------------------------

.mfp-ajax-content {
	background-color: var(--theme-color-base-1);
	border-radius: var(--theme-border-radius-small);
	margin: 0 auto;
	max-width: 640px;
	padding: 20px;
}

.mfp-ajax-content :last-child {
	margin-bottom: 0;
}
