//------------------------------------------------------------------------------
// Product Base
//------------------------------------------------------------------------------

.ProductImage {
	background-color: $color-image-bg;
	border: 1px solid $color-image-border;
	border-radius: $border-radius;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	transition-duration: $transition-fast;
}

.ProductImage:hover {
	@include box-shadow(0 1px 6px $color-accent-2);
	border-color: $color-accent-2;
}

.ProductDiscountPrice {
	color: $color-discount;
}

.ProductComparePrice {
	text-decoration: line-through;
}

//------------------------------------------------------------------------------
// List Product
//------------------------------------------------------------------------------

.ListProduct {
	position: relative;
}

.ListProduct .ProductImage {
	height: 160px;
	line-height: 138px;
	vertical-align: middle;
}

.ListProduct .ProductName {
	@include truncate;
	display: block;
	margin: 0;
}

.ListProduct .ProductName a {
	text-decoration: none;
}

.ListProduct .ProductPrices {
	@include truncate;
}

//------------------------------------------------------------------------------
// Current Product Image
//------------------------------------------------------------------------------

#CurrentProductImage {
	@extend %default-margin;
	border-radius: $border-radius;
	display: block;
	height: auto;
	padding: 10px;
	text-align: center;
}

#ProductImageCaption {
	text-align: center;
}

//------------------------------------------------------------------------------
// Product Thumbnails
//------------------------------------------------------------------------------

#ProductThumbnails {
	@include clearfix;
	list-style: none;
	margin: -5px;
}

#ProductThumbnails li {
	float: left;
	padding: 5px;
	vertical-align: middle;
	width: 25%;
}

#ProductThumbnails .ProductThumbnail {
	@extend .ProductImage;
	height: 80px;
	line-height: 68px;
	padding: 5px;
}

#ProductThumbnails .mz-thumb {
	display: block;
}

#ProductThumbnails .mz-thumb img {
	@include box-shadow(none);
	@include filter(none);
}

#ProductThumbnails .mz-thumb-selected {
	@include box-shadow(0 1px 6px $color-accent-2);
	border-color: $color-accent-2;
}

@media screen and (max-width: $breakpoint-tablet) {
	#ProductThumbnails li {
		width: 12.5%;
	}
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	#ProductThumbnails li {
		width: 25%;
	}
}
