//------------------------------------------------------------------------------
// Site
//------------------------------------------------------------------------------

.SiteHeader {
	background-color: var(--theme-color-base-2);
	color: var(--theme-color-text-dark);
}

.SiteBody {
	background-color: var(--theme-color-base-1);
	color: var(--theme-color-text-dark);
}

.SiteContent {
	padding: 40px 0 60px;
}

.SiteFooter {
	border-top: 1px solid #dadada;
	color: var(--theme-color-text-dark);
}
