//------------------------------------------------------------------------------
// Tab
//------------------------------------------------------------------------------

.Tab {
	display: none;
}

.Tab > :last-child {
	margin-bottom: 0;
}

.Tab.Current {
	display: block;
}

//------------------------------------------------------------------------------
// Tabs
//------------------------------------------------------------------------------

.Tabs {
	background-color: var(--theme-color-base-1);
	border: 1px solid #dadada;
	border-radius: 0 var(--theme-border-radius-small) var(--theme-border-radius-small) var(--theme-border-radius-small);
	padding: 20px;
}

@media screen and (max-width: $breakpoint-tablet) {
	.Tabs {
		border-width: 1px 0 0;
		margin: 0 -15px;
		padding: 20px 15px 0;
	}
}
