//------------------------------------------------------------------------------
// Tags List
//------------------------------------------------------------------------------

.TagsList {
	list-style: none;
}

.TagsList li {
	display: inline;
	margin: 2px 3px;
}

.TagsList li:first-child {
	margin-left: 0;
}

.TagsList li:last-child {
	margin-right: 0;
}

//------------------------------------------------------------------------------
// Tag
//------------------------------------------------------------------------------

.Tag {
	@include icon-before($fa-var-tag);
	background-color: mix($color-body-border, $color-body-bg, 25%);
	border-radius: 30px;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}

//------------------------------------------------------------------------------
// Filter Tags List
//------------------------------------------------------------------------------

.FilterTags {
	@extend .TagsList;
	@include flexbox;
	flex-wrap: wrap;
}

.RemoveFilters {
	@include flex(1 0 auto);
	text-align: right;
}

.RemoveFilter {
	@extend .Tag;
}

.RemoveFilter:before {
	content: $fa-var-remove;
}
