//------------------------------------------------------------------------------
// Inputs
//------------------------------------------------------------------------------

input, select, textarea {
	@include box-shadow(inset 0 1px 1px $black-10);
	background-color: $color-input-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	color: text-contrast($color-input-bg);
	display: inline-block;
	height: 38px;
	max-width: 100%;
	padding: 6px 12px;
	transition-duration: $transition-slow;
	vertical-align: middle;
}

[type='checkbox'], [type='radio'] {
	@include box-shadow(none);
	background-color: transparent;
	border-radius: 0;
	border-width: 0;
	display: inline-block !important;
	height: auto;
	margin: 0 5px 0 0;
	max-width: none;
	width: auto;
}

textarea {
	height: auto;
	resize: none;
}

select {
	@include appearance(none);
	@include box-shadow(0 1px 2px $black-10);
	background: $color-input-bg url($icon-select-dark) top 50% right 14px no-repeat;
	background-size: 12px 12px;
	color: text-contrast($color-input-bg);
	cursor: pointer;
	height: 38px;
	padding-right: 35px;
}

select::-ms-expand {
	display: none;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	input, select, textarea {
		display: block;
		margin: 0;
		width: 100%;
	}
}

//------------------------------------------------------------------------------
// Labels
//------------------------------------------------------------------------------

label {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.label {
	font-size: $font-size-large;
	font-weight: bold;
	margin-bottom: 10px;
}

.GroupLabel {
	@extend %default-margin;
	border-bottom: 1px solid $color-body-border;
	display: block;
	font-size: $font-size-large;
	font-weight: bold;
	padding-bottom: 10px;
}

//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------

.Button {
	@include box-shadow(inset 0 1px 0 $white-25, 0 1px 2px $black-10);
	background: $color-button-bg;
	border: 1px solid darken($color-button-bg, 15%);
	border-radius: $border-radius;
	color: text-contrast($color-button-bg) !important;
	cursor: pointer;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	transition-duration: $transition-fast;
	vertical-align: middle;
}

.Button:hover {
	background-color: lighten($color-button-bg, 2.5%);
	color: text-contrast($color-button-bg) !important;
}

.Button:active,
.Button.Active {
	@include box-shadow(inset 0 1px 2px $black-10);
	background-color: darken($color-button-bg, 2.5%);
}

.Button-Primary {
	background-color: $color-accent-1;
	border-color: darken($color-accent-1, 10%);
	color: text-contrast($color-accent-1) !important;
}

.Button-Primary:hover {
	background-color: lighten($color-accent-1, 2.5%);
	color: text-contrast($color-accent-1) !important;
}

.Button-Primary:active,
.Button-Primary.Active {
	background-color: darken($color-accent-1, 2.5%);
}

.Button-Primary {
	background-color: $color-accent-1;
	border-color: darken($color-accent-1, 10%);
	color: text-contrast($color-accent-1) !important;
}

.Button-Primary:hover {
	background-color: lighten($color-accent-1, 2.5%);
	color: text-contrast($color-accent-1) !important;
}

.Button-Primary:active,
.Button-Primary.Active {
	background-color: darken($color-accent-1, 2.5%);
}

.Button-Block {
	display: block;
	text-align: center;
	width: 100%;
}

.Buttons-Block .Button {
	@extend .Button-Block;
}

.Buttons-Block .Button + .Button {
	margin-top: 5px;
}

form button {
	@extend .Button;
}

form [type='submit'] {
	@extend .Button-Primary;
}

//------------------------------------------------------------------------------
// Method Wrappers
//------------------------------------------------------------------------------

.ShippingMethodWrapper,
.PaymentMethodWrapper {
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	padding: 10px 15px;
}

.ShippingMethodWrapper + .ShippingMethodWrapper,
.PaymentMethodWrapper + .PaymentMethodWrapper {
	margin-top: -1px;
}

.ShippingMethodWrapper:first-child,
.PaymentMethodWrapper:first-child {
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}

.ShippingMethodWrapper:last-child,
.PaymentMethodWrapper:last-child {
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.ShippingMethodWrapper > label,
.PaymentMethodWrapper > label {
	margin-bottom: 0;
}

.DefineShippingMethod {
	margin-top: 10px;
}

//------------------------------------------------------------------------------
// Form Errors & Notifications
//------------------------------------------------------------------------------

.FormError {
	color: $color-error;
	position: relative;
}

.FormError > input,
.FormError > select,
.FormError > textarea {
	background-color: mix($color-error, $color-input-bg, 5%) !important;
	border-color: $color-error !important;
}

.FormErrorMessage {
	@include truncate;
	background-color: $color-body-bg;
	color: $color-error;
	display: block;
	margin: 0;
	opacity: 1;
	position: absolute;
	width: 100%;
}

.GroupErrorMessage,
.FormNotification {
	@extend .Notification;
	@extend .Notification.Error;
}

@media screen and (max-width: $breakpoint-mobile) {
	.FormErrorMessage {
		font-size: $font-size-small;
		opacity: 1;
		position: static;
	}
}

//------------------------------------------------------------------------------
// Form Items
//------------------------------------------------------------------------------

.FormItem {
	@extend %default-margin;
}

.FormItem:last-child {
	margin-bottom: 0;
}

.FormItem .InlineCheck {
	display: inline-block;
	font-weight: normal;
	margin: 0 0 0 10px;
}

.FormItem .Checks:last-child {
	margin-bottom: 0;
}

.FormSubmit {
	margin-top: 20px;
}

.GroupItem {
	margin-bottom: 0;
}

.GroupItem > div {
	display: inline-block;
	margin: 0 10px 20px 0;
	vertical-align: bottom;
}

.GroupItem.required > label:after {
	content: ' *';
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.FormItem .InlineCheck {
		display: block;
		margin: 10px 0 0;
	}

	.GroupItem > div {
		display: block;
		margin-right: 0;
	}
}

//------------------------------------------------------------------------------
// Checks
//------------------------------------------------------------------------------

.Checks {
	margin-bottom: 20px;
}

.Checks label {
	font-weight: normal;
}

.Checks > label {
	margin-top: 10px;
}

.Checks > label:first-child {
	margin-top: 0;
}

//------------------------------------------------------------------------------
// Form Help
//------------------------------------------------------------------------------

.FormHelp {
	font-size: $font-size-small;
	margin: 5px 0 0;
}

.FormAltAction {
	display: inline-block;
	margin-left: 5px;
}

//------------------------------------------------------------------------------
// Input Group
//------------------------------------------------------------------------------

.InputGroup {
	@include clearfix;
	width: 100%;
}

.InputGroup > input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	float: left;
	margin-right: 0;
	width: 70%;
}

.InputGroup > button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	float: left;
	width: 30%;
}

//------------------------------------------------------------------------------
// Compact Form
//------------------------------------------------------------------------------

.CompactForm .FormItem {
	@extend .InputGroup;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.CompactForm {
		display: block;
	}
}

//------------------------------------------------------------------------------
// Buy Form
//------------------------------------------------------------------------------

.BuyForm [type='submit'] {
	@include icon-before($fa-var-shopping-cart);
}

//------------------------------------------------------------------------------
// Search Form
//------------------------------------------------------------------------------

#SearchForm {
	margin-bottom: 0;
}

#SearchForm .FormItem {
	@extend .InputGroup;
}

#SearchForm label {
	display: none;
}

#SearchForm #SearchInput {
	width: calc(100% - 50px);
}

#SearchForm #SearchButton {
	@include icon-replace($fa-var-search);
	width: 50px;
}

//------------------------------------------------------------------------------
// Pagination Form
//------------------------------------------------------------------------------

.PaginationForm label {
	display: inline-block;
	margin-right: 5px;
}
