//------------------------------------------------------------------------------
// Inputs
//------------------------------------------------------------------------------

input, select, textarea {
	@include box-shadow(inset 0 1px 1px var(--theme-color-black-10));
	background-color: #fefefe;
	border: 1px solid #dadada;
	border-radius: var(--theme-border-radius-small);
	color: var(--theme-color-text-dark);
	display: inline-block;
	height: 38px;
	max-width: 100%;
	padding: 6px 12px;
	transition-duration: var(--theme-transition-slow);
	vertical-align: middle;
}

[type='checkbox'], [type='radio'] {
	@include box-shadow(none);
	background-color: transparent;
	border-radius: 0;
	border-width: 0;
	display: inline-block !important;
	height: auto;
	margin: 0 5px 0 0;
	max-width: none;
	width: auto;
}

[type='checkbox'], [type='radio'] {
	all: revert;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

textarea {
	height: auto;
	resize: none;
}

select {
	@include appearance(none);
	@include box-shadow(0 1px 2px var(--theme-color-black-10));
	background: #fefefe url($icon-select-dark) top 50% right 14px no-repeat;
	background-size: 12px 12px;
	color: var(--theme-color-text-dark);
	cursor: pointer;
	height: 38px;
	padding-right: 35px;
}

select::-ms-expand {
	display: none;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	input, select, textarea {
		display: block;
		margin: 0;
		width: 100%;
	}
}

input:-webkit-autofill {
    animation-name: onAutoFill;
}

//------------------------------------------------------------------------------
// Labels
//------------------------------------------------------------------------------

label, .label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

label {
	cursor: pointer;
}

.GroupLabel {
	@extend %default-margin;
	border-bottom: 1px solid #dadada;
	display: block;
	font-size: var(--theme-font-size-large);
	font-weight: bold;
	padding-bottom: 10px;
}

//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------

.Button {
	@include box-shadow(inset 0 1px 0 var(--theme-color-white-25), 0 1px 2px var(--theme-color-black-10));
	background: #f5f5f5;
	border: 1px solid darken(#f5f5f5, 15%);
	border-radius: var(--theme-border-radius-small);
	color: var(--theme-color-text-dark) !important;
	cursor: pointer;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--theme-transition-fast);
	vertical-align: middle;
}

.Button:hover {
	background-color: lighten(#f5f5f5, 2.5%);
	color: var(--theme-color-text-dark) !important;
}

.Button:active,
.Button.Active {
	@include box-shadow(inset 0 1px 2px var(--theme-color-black-10));
	background-color: darken(#f5f5f5, 2.5%);
}

.Button-Primary {
	background-color: var(--theme-color-accent-1);
	border-color: var(--theme-color-accent-1-darker);
	color: var(--theme-color-accent-1-fg) !important;
}

.Button-Primary:hover {
	background-color: var(--theme-color-accent-1-lighter);
	color: var(--theme-color-accent-1-fg) !important;
}

.Button-Primary:active,
.Button-Primary.Active {
	background-color: var(--theme-color-accent-1-darker);
}

.Button-Block {
	display: block;
	text-align: center;
	width: 100%;
}

.Buttons-Block .Button {
	@extend .Button-Block;
}

.Buttons-Block .Button + .Button {
	margin-top: 5px;
}

form button {
	@extend .Button;
}

form [type='submit'] {
	@extend .Button-Primary;
}

//------------------------------------------------------------------------------
// Method Wrappers
//------------------------------------------------------------------------------

.ShippingMethodWrapper,
.PaymentMethodWrapper {
	background-color: #fafafa;
	border: 1px solid #dadada;
	padding: 10px 15px;
}

.ShippingMethodWrapper + .ShippingMethodWrapper,
.PaymentMethodWrapper + .PaymentMethodWrapper {
	margin-top: -1px;
}

.ShippingMethodWrapper:first-child,
.PaymentMethodWrapper:first-child {
	border-top-left-radius: var(--theme-border-radius-small);
	border-top-right-radius: var(--theme-border-radius-small);
}

.ShippingMethodWrapper:last-child,
.PaymentMethodWrapper:last-child {
	border-bottom-left-radius: var(--theme-border-radius-small);
	border-bottom-right-radius: var(--theme-border-radius-small);
}

.ShippingMethodWrapper > label,
.PaymentMethodWrapper > label {
	margin-bottom: 0;
}

.DefineShippingMethod {
	margin-top: 10px;
}

//------------------------------------------------------------------------------
// Form Errors & Notifications
//------------------------------------------------------------------------------

.FormError {
	color: #dd3333;
	position: relative;
}

.FormError > input,
.FormError > select,
.FormError > textarea {
	background-color: mix(#dd3333, #fefefe, 5%) !important;
	border-color: #dd3333 !important;
}

.FormErrorMessage {
	@include truncate;
	background-color: var(--theme-color-base-1);
	color: #dd3333;
	display: block;
	margin: 0;
	opacity: 1;
	position: absolute;
	width: 100%;
}

.GroupErrorMessage,
.FormNotification {
	@extend .Notification;
	@extend .Error;
}

@media screen and (max-width: $breakpoint-mobile) {
	.FormErrorMessage {
		font-size: var(--theme-font-size-small);
		opacity: 1;
		position: static;
	}
}

//------------------------------------------------------------------------------
// Form Items
//------------------------------------------------------------------------------

.FormItem {
	@extend %default-margin;
}

.FormItem:last-child {
	margin-bottom: 0;
}

.FormItem .InlineCheck {
	display: inline-block;
	font-weight: normal;
	margin: 0 0 0 10px;
}

.FormItem .Checks:last-child {
	margin-bottom: 0;
}

.FormSubmit {
	margin-top: 20px;
}

.GroupItem {
	margin-bottom: 0;
}

.GroupItem > div {
	display: inline-block;
	margin: 0 10px 20px 0;
	vertical-align: bottom;
}

.GroupItem.required > label:after {
	content: ' *';
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.FormItem .InlineCheck {
		display: block;
		margin: 10px 0 0;
	}

	.GroupItem > div {
		display: block;
		margin-right: 0;
	}
}

//------------------------------------------------------------------------------
// Checks
//------------------------------------------------------------------------------

.Checks {
	margin-bottom: 20px;
}

.Checks label {
	font-weight: normal;
}

.Checks > label {
	margin-top: 10px;
}

.Checks > label:first-child {
	margin-top: 0;
}

//------------------------------------------------------------------------------
// Form Help
//------------------------------------------------------------------------------

.FormHelp {
	font-size: var(--theme-font-size-small);
	margin: 5px 0 0;
}

.FormAltAction {
	display: inline-block;
	margin-left: 5px;
}

//------------------------------------------------------------------------------
// Input Group
//------------------------------------------------------------------------------

.InputGroup {
	@include clearfix;
	width: 100%;
}

.InputGroup > input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	float: left;
	margin-right: 0;
	width: 70%;
}

.InputGroup > button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	float: left;
	width: 30%;
}

//------------------------------------------------------------------------------
// Compact Form
//------------------------------------------------------------------------------

.CompactForm .FormItem {
	@extend .InputGroup;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.CompactForm {
		display: block;
	}
}

//------------------------------------------------------------------------------
// Buy Form
//------------------------------------------------------------------------------

.BuyForm [type='submit'] {
	@include icon-before($fa-var-shopping-cart);
}

//------------------------------------------------------------------------------
// Search Form
//------------------------------------------------------------------------------

#SearchForm {
	margin-bottom: 0;
}

#SearchForm .FormItem {
	@extend .InputGroup;
}

#SearchForm label {
	display: none;
}

#SearchForm #SearchInput {
	width: calc(100% - 50px);
}

#SearchForm #SearchButton {
	@include icon-replace($fa-var-search);
	width: 50px;
}

//------------------------------------------------------------------------------
// Pagination Form
//------------------------------------------------------------------------------

.PaginationForm label {
	display: inline-block;
	margin-right: 5px;
}

//------------------------------------------------------------------------------
// Campaign Code Form
//------------------------------------------------------------------------------

.CampaignCodeForm form {
	@extend .CompactForm;
	background-color: #fafafa;
	border: 1px solid #dadada;
	border-radius: var(--theme-border-radius-small);
	margin-bottom: 20px;
	padding: 15px;
}

.CampaignCodeForm input[type='hidden'] + button {
	display: block;
	float: left;
	margin: 0 auto;
	width: 30%;
}

.CampaignCodeForm .label {
	float: left;
	margin: 0;
	padding-right: 20px;
	text-align: left;
	width: 70%;
}

.CampaignCodeForm-InModal {
	background: none;
	border: 0;
	padding: 0;
}
