//------------------------------------------------------------------------------
// Container
//------------------------------------------------------------------------------

.Container {
	margin: 0 auto;
	max-width: var(--theme-container-width);
	padding: 0 calc(var(--theme-grid-gutter) / 2);
}

//------------------------------------------------------------------------------
// Grid
//------------------------------------------------------------------------------

.Grid {
	@include clearfix;
	margin: 0 calc(var(--theme-grid-gutter) / 2 * -1);
}

//------------------------------------------------------------------------------
// Column
//------------------------------------------------------------------------------

.Col, [class^=Col-] {
	float: left;
	padding: 0 calc(var(--theme-grid-gutter) / 2);
	position: relative;
}

@include cols(5);
@include cols(12);

//------------------------------------------------------------------------------
// Grid List
//------------------------------------------------------------------------------

.GridList {
	@include clearfix;
	margin: calc(var(--theme-grid-list-gutter) / 2 * -1);
}

.GridList > .ListItem {
	float: left;
	padding: calc(var(--theme-grid-list-gutter) / 2);
	position: relative;
	width: 20%;
}

.GridList-Wide > .ListItem {
	width: 16.66%;
}

.GridList-Narrow > .ListItem {
	width: 25%;
}

@media screen and (max-width: $breakpoint-desktop) {
	.GridList > .ListItem {
		width: 25%;
	}
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.GridList > .ListItem {
		width: 33.33%;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.GridList > .ListItem {
		width: 50%;
	}

	.GridList-Wide > .ListItem {
		width: 50%;
	}
}

//------------------------------------------------------------------------------
// Grid List Slider
//------------------------------------------------------------------------------

.GridList.slick-slider .slick-slide {
	padding: calc(var(--theme-grid-list-gutter) / 2);
}

.GridList.slick-slider .slick-prev {
	right: 50px;
}

.GridList.slick-slider .slick-next {
	right: 10px;
}

.GridList.slick-slider .slick-prev,
.GridList.slick-slider .slick-next {
	bottom: auto;
	top: -45px;
}

//------------------------------------------------------------------------------
// Flex
//------------------------------------------------------------------------------

.Flex {
	@include align-items(center);
	@include flexbox;
	margin-bottom: 20px;
	margin-left: calc(var(--theme-grid-gutter) / 2 * -1);
	margin-right: calc(var(--theme-grid-gutter) / 2 * -1);
}

.FlexItem {
	padding-left: calc(var(--theme-grid-gutter) / 2);
	padding-right: calc(var(--theme-grid-gutter) / 2);
}

.FlexItem > :first-child {
	margin-top: 0;
}

.FlexItem > :last-child {
	margin-bottom: 0;
}

.FlexItem-Grow {
	@include flex(1);
}

.FlexSpacer {
	@include flex(1);
}

.Flex-NoMargin {
	margin-bottom: 0;
}

@media screen and (max-width: $breakpoint-mobile) {
	.Flex-Collapse {
		display: block;
	}

	.Flex-Collapse .Button {
		display: block;
		width: 100%;
	}

	.Flex-Collapse .FlexItem + .FlexItem {
		margin-top: 10px;
	}

	.Flex-Collapse .Button + .Button {
		margin-top: 10px;
	}
}
