//------------------------------------------------------------------------------
// Notifications
//------------------------------------------------------------------------------

.Notification {
	@extend %default-margin;
	background-color: #ffeecc;
	border: 1px solid darken(#ffeecc, 20%);
	border-radius: var(--theme-border-radius-small);
	color: var(--theme-color-text-dark);
	padding: 10px 15px;
	position: relative;
}

.Notification.Success {
	$color-bg: mix(#fff, #88bb33, 90%);
	background-color: $color-bg;
	border-color: #88bb33;
	color: var(--theme-color-text-dark);
}

.Notification.Error {
	$color-bg: mix(#fff, #dd3333, 90%);
	background-color: $color-bg;
	border-color: #dd3333;
	color: var(--theme-color-text-dark);
}

.Notification > :last-child {
	margin-bottom: 0;
}

//------------------------------------------------------------------------------
// Notification Center
//------------------------------------------------------------------------------

.NotificationCenter {
	left: 50%;
	margin-left: -240px;
	position: fixed;
	top: 20px;
	width: 480px;
	z-index: 10000;
}

.NotificationCenter > .Notification {
	box-shadow: 0 1px 2px var(--theme-color-black-10);
	margin-bottom: 10px;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.NotificationCenter {
		bottom: 10px;
		left: 10px;
		margin: 0;
		right: 10px;
		top: auto;
		width: auto;
	}

	.NotificationCenter > .Notification {
		margin: 5px 0 0;
	}
}
