//------------------------------------------------------------------------------
// Document
//------------------------------------------------------------------------------

body {
	color: var(--theme-color-text-dark);
	font-family: var(--theme-font-body);
	font-size: var(--theme-font-size-base);
	line-height: var(--theme-line-height);
}

button, input, select, textarea {
	color: inherit;
	font: inherit;
}

blockquote {
	border-left: 5px solid var(--theme-color-accent-2);
	font-size: var(--theme-font-size-large);
	margin-left: 0;
	padding-left: 15px;
}

strong {
	font-weight: 600;
}

//------------------------------------------------------------------------------
// Headings
//------------------------------------------------------------------------------

%headings {
	font-family: var(--theme-font-headings);
	font-weight: bold;
	margin: 40px 0 20px;

	&:first-child {
		margin-top: 0;
	}
}

h1, .H1 {
	@extend %headings;
	font-size: 24px;
	line-height: 35px;
}

h2, .H2 {
	@extend %headings;
	font-size: 21px;
	line-height: 25px;
}

h3, .H3 {
	@extend %headings;
	font-size: 18px;
	line-height: 25px;
}

h4, .H4 {
	@extend %headings;
	font-size: 16px;
	line-height: 25px;
}

h5, .H5,
h6, .H6 {
	@extend %headings;
	font-size: 14px;
	line-height: 25px;
}

//------------------------------------------------------------------------------
// Text Align Helpers
//------------------------------------------------------------------------------

.Text-Left {
	text-align: left;
}

.Text-Center {
	text-align: center;
}

.Text-Right {
	text-align: right;
}

//------------------------------------------------------------------------------
// Text Size Helpers
//------------------------------------------------------------------------------

.Text-Small {
	font-size: var(--theme-font-size-small);
}

.Text-Large {
	font-size: var(--theme-font-size-large);
}

//------------------------------------------------------------------------------
// Text Color Helpers
//------------------------------------------------------------------------------

.Text-Accent {
	color: var(--theme-color-accent-2);
}

//------------------------------------------------------------------------------
// Text Misc Helpers
//------------------------------------------------------------------------------

.Text-Truncate {
	@include truncate;
}
