//------------------------------------------------------------------------------
// Display Helpers
//------------------------------------------------------------------------------

@media screen and (min-width: $breakpoint-tablet) {
	.Hide-Desktop {
		display: none;
	}
}

@media screen and (max-width: $breakpoint-tablet) {
	.Hide-Tablet {
		display: none;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.Hide-Mobile {
		display: none;
	}
}
