//------------------------------------------------------------------------------
// Typography
//------------------------------------------------------------------------------

$font-base-1:                 'Raleway', sans-serif !default;
$font-base-2:                 'Roboto', sans-serif !default;

$font-headings:               $font-base-1 !default;
$font-body:                   $font-base-2 !default;

$font-size:                   14px !default;
$font-size-small:             12px !default;
$font-size-large:             16px !default;

$line-height:                 24px !default;

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$black-0:                     rgba(0, 0, 0, 0);
$black-10:                    rgba(0, 0, 0, 0.1);
$black-25:                    rgba(0, 0, 0, 0.25);
$black-50:                    rgba(0, 0, 0, 0.5);
$black-75:                    rgba(0, 0, 0, 0.75);

$white-0:                     rgba(255, 255, 255, 0);
$white-10:                    rgba(255, 255, 255, 0.1);
$white-25:                    rgba(255, 255, 255, 0.25);
$white-50:                    rgba(255, 255, 255, 0.5);
$white-75:                    rgba(255, 255, 255, 0.75);

$color-base-1:                #e1c699 !default;
$color-base-2:                #fafafa !default;

$color-accent-1:              #77aa00 !default;
$color-accent-2:              #ee5500 !default;

$color-success:               #88bb33 !default;
$color-error:                 #dd3333 !default;

$color-text-light:            #fefefe !default;
$color-text-dark:             #5a5a5a !default;

$color-link-light:            #fafafa !default;
$color-link-dark:             #5a5a5a !default;

$color-discount:              $color-accent-2 !default;

$color-document-bg:           $color-base-1 !default;
$color-body-bg:               $color-base-1 #e1c699;
$color-header-bg:             $color-base-2 !default;
$color-footer-bg:             $color-base-2 !default;
$color-navbar-bg:             $color-base-2 !default;
$color-path-bg:               $color-base-2 !default;
$color-drawer-bg:             $color-base-2 !default;
$color-boxed-bg:              #fafafa !default;

$color-banner-bg:             $white-75 !default;
$color-loader-bg:             $white-50 !default;
$color-notification-bg:       #ffeecc !default;
$color-button-bg:             #f5f5f5 !default;
$color-image-bg:              #ffffff !default;
$color-input-bg:              #fefefe !default;

$color-body-border:           #dadada !default;
$color-navbar-border:         #dadada !default;
$color-footer-border:         #dadada !default;
$color-drawer-border:         #dadada !default;
$color-image-border:          #dadada !default;

//------------------------------------------------------------------------------
// Raster Icons
//------------------------------------------------------------------------------

$icon-select-dark:            '../images/angle-down-dark.png' !default;
$icon-select-light:           '../images/angle-down-light.png' !default;

//------------------------------------------------------------------------------
// Grid System
//------------------------------------------------------------------------------

$container-max-width:         1200px !default;

$grid-gutter:                 30px !default;
$grid-list-gutter:            20px !default;

$breakpoint-desktop:          1200px !default;
$breakpoint-tablet:           1024px !default;
$breakpoint-mobile-wide:      800px !default;
$breakpoint-mobile:           600px !default;

//------------------------------------------------------------------------------
// Border Radiuses
//------------------------------------------------------------------------------

$border-radius:               2px !default;
$border-radius-medium:        4px !default;
$border-radius-large:         6px !default;

//------------------------------------------------------------------------------
// Transition Durations
//------------------------------------------------------------------------------

$transition-fast:             0.15s !default;
$transition-slow:             0.3s !default;

//------------------------------------------------------------------------------
// Font Awesome
//------------------------------------------------------------------------------

$fa-font-path:                '../vendor/font-awesome/fonts' !default;
